.mainContainer {
  margin: 20px 25%;
  padding: 20px;
  border: solid;
  border-color: rgb(119, 119, 119);
  border-radius: 15px;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.line {
  border-style: dotted;
  border-color: rgb(132, 130, 143);
  border-width: 1px;
  width: 100%;
  margin-top: 30;
  margin-bottom: 30;
  break-after: always;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.question {
  font-size: 20px;
  text-align: left;
  flex: 2;
  vertical-align: bottom;
  padding-left: 10px;
  padding-right: 10px;
}

.answer {
  text-align: center;
  flex: 1;
  break-after: always;
  padding-left: 10px;
  padding-right: 10px;
}

.answer-checkbox {
  text-align: left;
  flex: 1;
  break-after: always;
  padding-left: 10px;
  padding-right: 10px;
}
